.dots {
  position: absolute;
  color: var(--mantine-color-dark-5);
  transform: translateY(calc(var(--scroll-y, 0) * 0.05px));
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
  transition: all 150ms ease;

  @media (prefers-reduced-motion: reduce) {
    transform: none;
  }
}
